.home-container{
    margin-top: 25px;
    text-align: center;
}
.informative {
    color: #545353;
    font-size: 11px;
    margin-bottom: 15px;
}
input[type="text"] {
    -webkit-box-shadow: none !important;
    -mox-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    width: 40%;
    height: 30px;
    background-color: #edf8f5;
    padding: 12px 25px;
    border-radius: 5px;
    margin-bottom: 15px;
}
input[type="text"]:focus{
    outline: none !important;
    border: 0;
}
.ph-text {
    
}
.submit-btn{
    background-color: #01e675;
    border: none;
    color: white;
    padding: 10px 35px;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer;
    width: 30%;
    margin: auto;
}